@font-face {
    font-family: PressStart2P-Regular;
    src: url(./font/PressStart2P-Regular.ttf);
}

body {
    font-family: PressStart2P-Regular;
    margin: 0;
    text-align: center;
    color: #FDF6EC;
    background-color: #F3E9DD;
}

h1 {
    padding: 35px;
    margin-top: 0;
    margin-bottom: 50px;
    background-color: #B7CADB;
}
.content {
    display: flex;
    justify-content: space-evenly;
}

.tool-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 275px;
    height: 400px;
    background-color: #B7CADB;
    border: 5px solid #DAB88B;
    border-radius: 5px;
}

.tool-bar input {
    display: block;
}

.sketch-pad {
    display: grid;
    grid-template-columns: repeat(50, 1fr);
    grid-template-rows: repeat(50, 1fr);
    grid-gap: 1px;
    width: 750px;
    height: 600px;
    background-color: #DAB88B;
    border: 5px solid #DAB88B;
    border-radius: 5px;
}

/* .blank-sketch-pad {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: none;
    grid-gap: 1px;
    width: 750px;
    height: 600px;
    background-color: black;
    border: 5px solid black;
    border-radius: 5px;
} */

.cell {
    background-color: #FDF6EC;
    width: auto;
}
